
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExtraOptionLabel" data-translate="royalhallsApp.extraOption.home.createOrEditLabel">Create or edit a Extra Option</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.extraOption.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.extraOption.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.extraOption.optionName" for="field_optionName">Option Name</label>
            <input type="text" class="form-control" name="optionName" id="field_optionName"
                    ng-model="vm.extraOption.optionName"
                    required />
            <div ng-show="editForm.optionName.$invalid">
                <p class="help-block"
                    ng-show="editForm.optionName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.extraOption.optionType" for="field_optionType">Option Type</label>
            <select class="form-control" name="optionType" ng-model="vm.extraOption.optionType" id="field_optionType">
                <option value="BASIC" data-translate="royalhallsApp.OptionType.BASIC">BASIC</option>
                <option value="OPTIONAL" data-translate="royalhallsApp.OptionType.OPTIONAL">OPTIONAL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.extraOption.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.extraOption.price"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
