<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel" data-translate="royalhallsApp.event.home.createOrEditLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.event.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.event.eventName" for="field_eventName">Event Name</label>
            <input type="text" class="form-control" name="eventName" id="field_eventName"
                   ng-model="vm.event.eventName"
            />
        </div>
        <div class="form-group">
            <label data-translate="royalhallsApp.event.eventType" for="field_eventType">Event Type</label>
            <select class="form-control" id="field_eventType" name="eventType" ng-model="vm.event.eventType"
                    ng-options="eventType as eventType.eventTypeName for eventType in vm.eventtypes track by eventType.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.eventType.$invalid">
                <p class="help-block"
                   ng-show="editForm.eventType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label data-translate="royalhallsApp.event.hall" for="field_hall">Hall</label>
            <select class="form-control" id="field_hall" name="hall" ng-model="vm.event.hall" ng-options="hall as hall.hallName for hall in vm.halls track by hall.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.hall.$invalid">
                <p class="help-block"
                   ng-show="editForm.hall.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="row well well-sm">
                <div class="col-md-6">
                    <label class="control-label" data-translate="royalhallsApp.event.eventStartDate" for="field_eventDate">Event Start Date</label>
                    <div uib-datepicker id="field_eventDate" type="text" ng-model="vm.event.eventStartDate"
                         ng-change="vm.setEndDate()" required></div>

                    <div ng-show="editForm.field_eventDate.$invalid">
                        <p class="help-block"
                           ng-show="editForm.field_eventDate.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.field_eventDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label class="control-label" data-translate="royalhallsApp.event.eventStartTime" for="field_eventStartDate">Event Start Date</label>
                        <div class="input-group">
                            <div uib-timepicker id="field_eventStartDate" ng-model="vm.event.eventStartDate" ng-change="vm.setEndDate()"></div>
                        </div>
                        <div ng-show="editForm.eventStartDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.eventStartDate.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.eventStartDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label" data-translate="royalhallsApp.event.eventEndDate" for="field_eventEndDate">Event End Date</label>
                        <div class="input-group">
                            <div uib-timepicker id="field_eventEndDate" ng-model="vm.event.eventEndDate" ng-change="vm.copyStartDate()"></div>
                        </div>
                        <div ng-show="editForm.eventEndDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.eventEndDate.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.eventEndDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label data-translate="royalhallsApp.eventExtraOption.primary">Event Extra Options (Primary)</label>

            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="option.optionName"><span data-translate="royalhallsApp.eventExtraOption.option">Option</span> <span class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="variant.variantName"><span data-translate="royalhallsApp.eventExtraOption.variant">Variant</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="color.colorName"><span data-translate="royalhallsApp.eventExtraOption.color">Color</span> <span class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="optionQty"><span data-translate="royalhallsApp.eventExtraOption.optionQty">Option Qty</span> <span class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="price"><span data-translate="royalhallsApp.extraOptionVariant.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="optionNotes"><span data-translate="royalhallsApp.eventExtraOption.optionNotes">Option Notes</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="eventExtraOption in vm.event.options | filter: vm.basicOptions track by eventExtraOption.id">
                        <td>
                            <a ui-sref="extra-option-detail({id:eventExtraOption.option.id})">{{eventExtraOption.option.optionName}}</a>
                        </td>
                        <td>
                            <a ui-sref="extra-option-variant-detail({id:eventExtraOption.variant.id})">{{eventExtraOption.variant.variantName}}</a>
                        </td>
                        <td>
                            <a ui-sref="extra-option-color-detail({id:eventExtraOption.color.id})">{{eventExtraOption.color.colorName}}</a>
                        </td>
                        <td>{{eventExtraOption.optionQty}}</td>
                        <td>{{eventExtraOption.variant.price || eventExtraOption.option.price }}</td>
                        <td>{{eventExtraOption.optionNotes}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button"
                                        ui-sref="option-edit({optionId:eventExtraOption.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="button"
                                        ui-sref="option-delete({optionId:eventExtraOption.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" ui-sref="option-new( {optionType:'BASIC'} )" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                <span data-translate="royalhallsApp.eventExtraOption.home.createLabel">
                        Create new Event Extra Option
                    </span>
            </button>
        </div>

        <div class="form-group">
            <label data-translate="royalhallsApp.eventExtraOption.secondary">Event Extra Options (Optional)</label>

            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="option.optionName"><span data-translate="royalhallsApp.eventExtraOption.option">Option</span> <span
                            class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="variant.variantName"><span data-translate="royalhallsApp.eventExtraOption.variant">Variant</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="color.colorName"><span data-translate="royalhallsApp.eventExtraOption.color">Color</span> <span class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="optionQty"><span data-translate="royalhallsApp.eventExtraOption.optionQty">Option Qty</span> <span
                            class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="price"><span data-translate="royalhallsApp.extraOptionVariant.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="optionNotes"><span data-translate="royalhallsApp.eventExtraOption.optionNotes">Option Notes</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="eventExtraOption in vm.event.options | filter: vm.secondaryOptions  track by eventExtraOption.id">
                        <td>
                            <a ui-sref="extra-option-detail({id:eventExtraOption.option.id})">{{eventExtraOption.option.optionName}}</a>
                        </td>
                        <td>
                            <a ui-sref="extra-option-variant-detail({id:eventExtraOption.variant.id})">{{eventExtraOption.variant.variantName}}</a>
                        </td>
                        <td>
                            <a ui-sref="extra-option-color-detail({id:eventExtraOption.color.id})">{{eventExtraOption.color.colorName}}</a>
                        </td>
                        <td>{{eventExtraOption.optionQty}}</td>
                        <td>{{eventExtraOption.variant.price || eventExtraOption.option.price }}</td>
                        <td>{{eventExtraOption.optionNotes}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button"
                                        ui-sref="option-edit({optionId:eventExtraOption.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="button"
                                        ui-sref="option-delete({optionId:eventExtraOption.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" ui-sref="option-new( {optionType:'OPTIONAL'} )" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                <span data-translate="royalhallsApp.eventExtraOption.home.createLabel">
                        Create new Event Extra Option
                    </span>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
