
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContractLabel" data-translate="royalhallsApp.contract.home.createOrEditLabel">Create or edit a Contract</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contract.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contract.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.contractName" for="field_contractName">Contract Name</label>
            <input type="text" class="form-control" name="contractName" id="field_contractName"
                    ng-model="vm.contract.contractName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.contractDate" for="field_contractDate">Contract Date</label>
                <div class="input-group">
                    <input id="field_contractDate" type="text" class="form-control" name="contractDate" datetime-picker="{{dateformat}}" ng-model="vm.contract.contractDate" is-open="vm.datePickerOpenStatus.contractDate"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('contractDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.contractDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.contractDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.contractDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.contractStatus" for="field_contractStatus">Contract Status</label>
            <select class="form-control" name="contractStatus" ng-model="vm.contract.contractStatus" id="field_contractStatus" required>
                <option value="CREATED" data-translate="royalhallsApp.ContractStatus.CREATED">CREATED</option>
                <option value="APPROVED" data-translate="royalhallsApp.ContractStatus.APPROVED">APPROVED</option>
                <option value="COMPLETED" data-translate="royalhallsApp.ContractStatus.COMPLETED">COMPLETED</option>
                <option value="CANCELLED" data-translate="royalhallsApp.ContractStatus.CANCELLED">CANCELLED</option>
            </select>
            <div ng-show="editForm.contractStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.contractStatus.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.contractNotes" for="field_contractNotes">Contract Notes</label>
            <input type="text" class="form-control" name="contractNotes" id="field_contractNotes"
                    ng-model="vm.contract.contractNotes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.totalAmount" for="field_totalAmount">Total Amount</label>
            <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                    ng-model="vm.contract.totalAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.openAmount" for="field_openAmount">Open Amount</label>
            <input type="number" class="form-control" name="openAmount" id="field_openAmount"
                    ng-model="vm.contract.openAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.contract.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.contract.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="royalhallsApp.contract.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.contract.customer" ng-options="customer as customer.customerName for customer in vm.customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
