
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPaymentLabel" data-translate="royalhallsApp.payment.home.createOrEditLabel">Create or edit a Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.payment.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.payment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.paymentType" for="field_paymentType">Payment Type</label>
            <select class="form-control" name="paymentType" ng-model="vm.payment.paymentType" id="field_paymentType" required>
                <option value="CASH" data-translate="royalhallsApp.PaymentType.CASH">CASH</option>
                <option value="CHEQUE" data-translate="royalhallsApp.PaymentType.CHEQUE">CHEQUE</option>
            </select>
            <div ng-show="editForm.paymentType.$invalid">
                <p class="help-block"
                    ng-show="editForm.paymentType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.paymentAmount" for="field_paymentAmount">Payment Amount</label>
            <input type="number" class="form-control" name="paymentAmount" id="field_paymentAmount"
                    ng-model="vm.payment.paymentAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.paymentDueDate" for="field_paymentDueDate">Payment Due Date</label>
                <div class="input-group">
                    <input id="field_paymentDueDate" type="text" class="form-control" name="paymentDueDate" datetime-picker="{{dateformat}}" ng-model="vm.payment.paymentDueDate" is-open="vm.datePickerOpenStatus.paymentDueDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('paymentDueDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.paymentStatus" for="field_paymentStatus">Payment Status</label>
            <select class="form-control" name="paymentStatus" ng-model="vm.payment.paymentStatus" id="field_paymentStatus" required>
                <option value="PENDING" data-translate="royalhallsApp.PaymentStatus.PENDING">PENDING</option>
                <option value="PAID" data-translate="royalhallsApp.PaymentStatus.PAID">PAID</option>
                <option value="CANCELLED" data-translate="royalhallsApp.PaymentStatus.CANCELLED">CANCELLED</option>
                <option value="REFUNDED" data-translate="royalhallsApp.PaymentStatus.REFUNDED">REFUNDED</option>
            </select>
            <div ng-show="editForm.paymentStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.paymentStatus.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.chequeNo" for="field_chequeNo">Cheque No</label>
            <input type="text" class="form-control" name="chequeNo" id="field_chequeNo"
                    ng-model="vm.payment.chequeNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.bankName" for="field_bankName">Bank Name</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="vm.payment.bankName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="royalhallsApp.payment.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.payment.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="royalhallsApp.payment.contract" for="field_contract">Contract</label>
            <select class="form-control" id="field_contract" name="contract" ng-model="vm.payment.contract" ng-options="contract as contract.contractName for contract in vm.contracts track by contract.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
