<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group ">
                    <div class="btn-toolbar">
                        <a ng-href="#" class="btn btn-default" ng-click="vm.searchContract()">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;<span data-translate="entity.action.open">Open</span>
                        </a>
                        <a ui-sref="new-contract" class="btn btn-default">
                            <span class="glyphicon glyphicon-star"></span>&nbsp;<span data-translate="entity.action.new">New</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="jumbotron" ng-show="vm.contract.id === undefined">
                        <h2 data-translate="home.subtitle">welcome</h2>
                        <p data-translate="home.logged.message">please choose an option</p>
                    </div>
                </div>
            </div>
            <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation ng-show="vm.contract.id">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.customer.customerName" for="field_customerName">Customer Name</label>
                        <input type="text" class="form-control" name="customerName" id="field_customerName"
                               ng-model="vm.contract.customer.customerName"
                               required/>
                        <div ng-show="editForm.customerName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.customerName.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.customer.identityId" for="field_identityId">Identity Id</label>
                        <input type="text" class="form-control" name="identityId" id="field_identityId"
                               ng-model="vm.contract.customer.identityId"
                               required/>
                        <div ng-show="editForm.identityId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.identityId.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.contact.mobile" for="field_mobile">Mobile</label>
                        <input type="text" class="form-control" name="mobile" id="field_mobile"
                               ng-model="vm.contract.customer.mobile"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.contact.telephone" for="field_telephone">Telephone</label>
                        <input type="text" class="form-control" name="telephone" id="field_telephone"
                               ng-model="vm.contract.customer.telephone"
                        />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.customer.city" for="field_city">City</label>
                        <input type="text" class="form-control" name="city" id="field_city"
                               ng-model="vm.contract.customer.city"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.customer.country" for="field_country">Country</label>
                        <input type="text" class="form-control" name="country" id="field_country"
                               ng-model="vm.contract.customer.country"
                        />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-show="vm.contract.id">
                        <label for="id" data-translate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               ng-model="vm.contract.id" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.contract.contractStatus" for="field_contractStatus">Contract Status</label>
                        <select class="form-control" name="contractStatus" ng-model="vm.contract.contractStatus" id="field_contractStatus" ng-disabled="true" readonly>
                            <option value="CREATED" data-translate="royalhallsApp.ContractStatus.CREATED">CREATED</option>
                            <option value="APPROVED" data-translate="royalhallsApp.ContractStatus.APPROVED">APPROVED</option>
                            <option value="COMPLETED" data-translate="royalhallsApp.ContractStatus.COMPLETED">COMPLETED</option>
                            <option value="CANCELLED" data-translate="royalhallsApp.ContractStatus.CANCELLED">CANCELLED</option>
                        </select>
                        <div ng-show="editForm.contractStatus.$invalid">
                            <p class="help-block"
                               ng-show="editForm.contractStatus.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.contract.createdDate" for="field_createdDate">Creation Date</label>
                        <div class="input-group">
                            <input id="field_createdDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.contract.createdDate"
                                   is-open="vm.datePickerOpenStatus.createdDate" ng-disabled="true"
                            />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="royalhallsApp.contract.contractNotes" for="field_contractNotes">Contract Notes</label>
                        <textarea type="text" class="form-control" name="contractNotes" id="field_contractNotes"
                                  ng-model="vm.contract.contractNotes" rows="8"
                        ></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                    <div class="form-group">
                        <h2 data-translate="royalhallsApp.event.home.title">Events</h2>
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="eventName"><span data-translate="royalhallsApp.event.eventName">Event Name</span> <span class="glyphicon glyphicon-sort"></span>
                                    </th>
                                    <th jh-sort-by="eventStartDate"><span data-translate="royalhallsApp.event.eventStartDate">Event Start Date</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="eventEndDate"><span data-translate="royalhallsApp.event.eventEndDate">Event End Date</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="eventType.eventTypeName"><span data-translate="royalhallsApp.event.eventType">Event Type</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="hall.hallName"><span data-translate="royalhallsApp.event.hall">Hall</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="event in vm.contract.events track by event.id">
                                    <td>{{event.eventName}}</td>
                                    <td><span style="direction: ltr">{{event.eventStartDate | date:'yyyy-MM-dd HH:mm'}}</span></td>
                                    <td><span style="direction: ltr">{{event.eventEndDate | date:'yyyy-MM-dd HH:mm'}}</span></td>
                                    <td>
                                        <a ui-sref="event-type-detail({id:event.eventType.id})">{{event.eventType.eventTypeName}}</a>
                                    </td>
                                    <td>
                                        <a ui-sref="hall-detail({id:event.hall.id})">{{event.hall.hallName}}</a>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button"
                                                    ui-sref="event-edit({eventId:event.id})"
                                                    class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                            </button>
                                            <button type="button"
                                                    ui-sref="event-delete({eventId:event.id})"
                                                    class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary" ui-sref="event-new" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="royalhallsApp.event.home.createLabel">
                                    Create new Event
                                </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <h2 data-translate="royalhallsApp.payment.home.title">Payments</h2>

                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="paymentType"><span data-translate="royalhallsApp.payment.paymentType">Payment Type</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="paymentAmount"><span data-translate="royalhallsApp.payment.paymentAmount">Payment Amount</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="paymentDueDate"><span data-translate="royalhallsApp.payment.paymentDueDate">Payment Due Date</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="paymentStatus"><span data-translate="royalhallsApp.payment.paymentStatus">Payment Status</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="chequeNo"><span data-translate="royalhallsApp.payment.chequeNo">Cheque No</span> <span class="glyphicon glyphicon-sort"></span>
                                    </th>
                                    <th jh-sort-by="bankName"><span data-translate="royalhallsApp.payment.bankName">Bank Name</span> <span class="glyphicon glyphicon-sort"></span>
                                    </th>
                                    <th jh-sort-by="creationDate"><span data-translate="royalhallsApp.payment.creationDate">Creation Date</span> <span
                                        class="glyphicon glyphicon-sort"></span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="payment in vm.contract.payments track by payment.id">
                                    <td data-translate="{{'royalhallsApp.PaymentType.' + payment.paymentType}}">{{payment.paymentType}}</td>
                                    <td>{{payment.paymentAmount}}</td>
                                    <td>{{payment.paymentDueDate |  date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td data-translate="{{'royalhallsApp.PaymentStatus.' + payment.paymentStatus}}">{{payment.paymentStatus}}</td>
                                    <td>{{payment.chequeNo}}</td>
                                    <td>{{payment.bankName}}</td>
                                    <td>{{payment.creationDate |  date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button"
                                                    ui-sref="payment-edit({paymentId:payment.id})"
                                                    class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                            </button>
                                            <button type="button"
                                                    ui-sref="payment-delete({paymentId:payment.id})"
                                                    class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary" ui-sref="payment-new" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="royalhallsApp.payment.home.createLabel">
                                    Create new Payment
                                </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" data-translate="royalhallsApp.contract.openAmount" for="field_openAmount">Open Amount</label>
                                <input type="number" class="form-control" name="openAmount" id="field_openAmount" ng-disabled="true"
                                       ng-model="vm.contract.openAmount"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" data-translate="royalhallsApp.contract.totalAmount" for="field_totalAmount">Total Amount</label>
                                <input type="number" class="form-control" name="totalAmount" id="field_totalAmount" ng-disabled="true"
                                       ng-model="vm.contract.totalAmount"
                                />
                            </div>
                        </div>
                    </div>


                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>
