<div ng-cloak>
    <div class="visible-print-block" ng-include="'app/entities/contract/contract-print.html'"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 hidden-print">
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>

                <div class="btn-toolbar">
                    <a ng-href="#" class="btn btn-sm btn-default" ng-click="vm.searchContract()">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span data-translate="entity.action.open">Open</span>
                    </a>
                    <a ui-sref="new-contract" class="btn  btn-sm btn-default">
                        <span class="glyphicon glyphicon-star"></span>&nbsp;<span data-translate="entity.action.new">New</span>
                    </a>
                    <a ng-click="vm.print()" class="btn  btn-sm btn-default" ng-hide="vm.contract.id === undefined">
                        <span class="glyphicon glyphicon-star"></span>&nbsp;<span data-translate="entity.action.print">Print</span>
                    </a>
                </div>
                <div class="form-group">
                    <div class="jumbotron" ng-show="vm.contract.id === undefined">
                        <h2 data-translate="home.subtitle">welcome</h2>
                        <p data-translate="home.logged.message">please choose an option</p>
                    </div>
                </div>
            </div>
            <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation ng-show="vm.contract.id">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group" ng-show="vm.contract.id">
                            <label class="sr-only" for="id" data-translate="royalhallsApp.contract.contractId">ID</label>
                            <div class="input-group">
                                <div class="input-group-addon" data-translate="royalhallsApp.contract.contractId"> ID</div>
                                <input type="text" class="form-control" id="id" name="id"
                                       ng-model="vm.contract.id" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="sr-only" data-translate="royalhallsApp.contract.createdDate" for="field_createdDate">Creation Date</label>
                            <div class="input-group">
                                <div class="input-group-addon" data-translate="royalhallsApp.contract.createdDate"> Creation Date</div>
                                <input id="field_createdDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}"
                                       ng-model="vm.contract.createdDate"
                                       is-open="vm.datePickerOpenStatus.createdDate" ng-disabled="true"
                                />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="sr-only" data-translate="royalhallsApp.contract.contractStatus" for="field_contractStatus">Contract Status</label>
                            <div class="input-group">
                                <div class="input-group-addon" data-translate="royalhallsApp.contract.contractStatus">Contract Status</div>
                                <select class="form-control" name="contractStatus" ng-model="vm.contract.contractStatus" id="field_contractStatus" ng-disabled="true" readonly>
                                    <option value="CREATED" data-translate="royalhallsApp.ContractStatus.CREATED">CREATED</option>
                                    <option value="APPROVED" data-translate="royalhallsApp.ContractStatus.APPROVED">APPROVED</option>
                                    <option value="COMPLETED" data-translate="royalhallsApp.ContractStatus.COMPLETED">COMPLETED</option>
                                    <option value="CANCELLED" data-translate="royalhallsApp.ContractStatus.CANCELLED">CANCELLED</option>
                                </select>
                            </div>
                            <div ng-show="editForm.contractStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.contractStatus.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <script type="text/ng-template" id="customerLookup.html">
                    <a ng-style="{backgroundColor: match.model.customerStatus.colour}">
                        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                    </a>
                </script>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" data-translate="royalhallsApp.customer.customerName" for="field_customerName"></label>
                                <input type="text" class="form-control" name="customerName" id="field_customerName"
                                       ng-model="vm.contract.customer"
                                       uib-typeahead="customer as customer.customerName for customer in vm.findCustomer($viewValue)"
                                       typeahead-template-url="customerLookup.html"
                                       required/>
                                <div class="input-group-addon"><span ng-style="{backgroundColor: vm.contract.customer.customerStatus.colour}">&nbsp;&nbsp;</span></div>
                            </div>

                            <div ng-show="editForm.customerName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.customerName.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" data-translate="royalhallsApp.customer.city" for="field_city">City</label>
                                <input type="text" class="form-control" name="city" id="field_city"
                                       ng-model="vm.contract.customer.city"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" data-translate="royalhallsApp.contact.mobile" for="field_mobile">Mobile</label>
                                <input type="text" class="form-control" name="mobile" id="field_mobile"
                                       ng-model="vm.contract.customer.mobile"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" data-translate="royalhallsApp.customer.identityId" for="field_identityId">Identity Id</label>
                                <input type="text" class="form-control" name="identityId" id="field_identityId"
                                       ng-model="vm.contract.customer.identityId"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" data-translate="royalhallsApp.contract.contractNotes" for="field_contractNotes">Contract Notes</label>
                            <textarea type="text" class="form-control" name="contractNotes" id="field_contractNotes"
                                      ng-model="vm.contract.contractNotes" rows="8"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="form-group">
                        <h2 data-translate="royalhallsApp.event.home.title">Events</h2>
                        <div class="table-responsive">
                            <table class="jh-table table table-striped table-condensed">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="eventName"><span data-translate="royalhallsApp.event.eventName">Event Name</span></th>
                                    <th jh-sort-by="eventStartDate"><span data-translate="royalhallsApp.event.eventStartDate">Event Start Date</span></th>
                                    <th jh-sort-by="eventStartDate"><span data-translate="royalhallsApp.event.eventStartTime">Event Start Date</span></th>
                                    <th jh-sort-by="eventEndDate"><span data-translate="royalhallsApp.event.eventEndDate">Event End Date</span></th>
                                    <th jh-sort-by="eventType.eventTypeName"><span data-translate="royalhallsApp.event.eventType">Event Type</span></th>
                                    <th jh-sort-by="hall.hallName"><span data-translate="royalhallsApp.event.hall">Hall</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="event in vm.contract.events | orderBy: 'eventStartDate' track by event.id">
                                    <td>{{event.eventName}}</td>
                                    <td><span style="direction: ltr">{{event.eventStartDate | date:'yyyy-MM-dd'}}</span></td>
                                    <td><span style="direction: ltr">{{event.eventStartDate | date:'HH:mm'}}</span></td>
                                    <td><span style="direction: ltr">{{event.eventEndDate | date:'HH:mm'}}</span></td>
                                    <td>
                                        <a ui-sref="event-type-detail({id:event.eventType.id})">{{event.eventType.eventTypeName}}</a>
                                    </td>
                                    <td>
                                        <a ui-sref="hall-detail({id:event.hall.id})">{{event.hall.hallName}}</a>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-sm flex-btn-group-container">
                                            <button type="button"
                                                    ui-sref="event-edit({eventId:event.id})"
                                                    class="btn btn-primary">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.edit"></span>
                                            </button>
                                            <button type="button"
                                                    ui-sref="event-delete({eventId:event.id})"
                                                    class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary" ng-click="vm.newEvent()" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="royalhallsApp.event.home.createLabel">
                                    Create new Event
                                </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <h2 data-translate="royalhallsApp.payment.home.title">Payments</h2>

                        <div class="table-responsive">
                            <table class="jh-table table table-striped table-condensed">
                                <thead>
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th jh-sort-by="paymentType"><span data-translate="royalhallsApp.payment.paymentType">Payment Type</span></th>
                                    <th jh-sort-by="paymentAmount"><span data-translate="royalhallsApp.payment.paymentAmount">Payment Amount</span></th>
                                    <th jh-sort-by="paymentDueDate"><span data-translate="royalhallsApp.payment.paymentDueDate">Payment Due Date</span></th>
                                    <th jh-sort-by="paymentStatus"><span data-translate="royalhallsApp.payment.paymentStatus">Payment Status</span></th>
                                    <th jh-sort-by="chequeNo"><span data-translate="royalhallsApp.payment.chequeNo">Cheque No</span></th>
                                    <th jh-sort-by="bankName"><span data-translate="royalhallsApp.payment.bankName">Bank Name</span></th>
                                    <th jh-sort-by="paidBy"><span data-translate="royalhallsApp.payment.paidBy">Paid By</span></th>
                                    <th jh-sort-by="creationDate"><span data-translate="royalhallsApp.payment.creationDate">Creation Date</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="payment in vm.contract.payments track by payment.id">
                                    <td data-translate="{{'royalhallsApp.PaymentType.' + payment.paymentType}}">{{payment.paymentType}}</td>
                                    <td>{{payment.paymentAmount | currency }}</td>
                                    <td>{{payment.paymentDueDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td data-translate="{{'royalhallsApp.PaymentStatus.' + payment.paymentStatus}}">{{payment.paymentStatus}}</td>
                                    <td>{{payment.chequeNo}}</td>
                                    <td>{{payment.bankName}}</td>
                                    <td>{{payment.paidBy}}</td>
                                    <td>{{payment.creationDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td class="text-right">
                                        <div class="btn-group  btn-group-sm flex-btn-group-container">
                                            <button type="button"
                                                    ui-sref="payment-edit({paymentId:payment.id})"
                                                    class="btn btn-primary">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.edit"></span>
                                            </button>
                                            <button type="button"
                                                    ui-sref="payment-delete({paymentId:payment.id})"
                                                    class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span class="hidden-xs hidden-sm hidden-md" data-translate="entity.action.delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary" ng-click="vm.newPayment()" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-translate="royalhallsApp.payment.home.createLabel">
                                    Create new Payment
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <contract-options contract="vm.contract"></contract-options>
                    </div>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>
