<h2 data-translate="royalhallsApp.hall.home.title">Halls</h2>
<div class="form-group">
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="hallName"><span data-translate="royalhallsApp.hall.hallName">Hall Name</span></th>
                <th jh-sort-by="description"><span data-translate="royalhallsApp.hall.description">Description</span></th>
                <th jh-sort-by="hallType.hallTypeName"><span data-translate="royalhallsApp.hall.hallType">Hall Type</span></th>
                <th jh-sort-by="capacity"><span data-translate="royalhallsApp.hall.capacity">Capacity</span></th>
                <th jh-sort-by="price"><span data-translate="royalhallsApp.hall.price">Price</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="hall in vm.halls">
                <td>{{hall.hallName}}</td>
                <td>{{hall.description}}</td>
                <td>{{hall.hallType.hallTypeName}}</td>
                <td>{{hall.capacity}}</td>
                <td>{{hall.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h2 data-translate="royalhallsApp.eventExtraOption.home.title">Event Extra Options</h2>
<div class="form-group">
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="royalhallsApp.event.eventName">Event Name</span></th>
                <th><span data-translate="royalhallsApp.eventExtraOption.option">Option</span></th>
                <th><span data-translate="royalhallsApp.eventExtraOption.variant">Variant</span></th>
                <th><span data-translate="royalhallsApp.eventExtraOption.color">Color</span></th>
                <th><span data-translate="royalhallsApp.eventExtraOption.optionQty">Option Qty</span></th>
                <th><span data-translate="royalhallsApp.eventExtraOption.optionNotes">Option Notes</span></th>
                <th><span data-translate="royalhallsApp.extraOption.price">Price</span></th>
                <th><span data-translate="royalhallsApp.extraOption.total">Price</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eventExtraOption in vm.options track by eventExtraOption.id">
                <td>{{eventExtraOption.event.eventName}}</td>
                <td>{{eventExtraOption.option.optionName}}</td>
                <td>{{eventExtraOption.variant.variantName}}</td>
                <td>{{eventExtraOption.color.colorName}}</td>
                <td>{{eventExtraOption.optionQty}}</td>
                <td>{{eventExtraOption.optionNotes}}</td>
                <td>{{eventExtraOption.price}}</td>
                <td>{{eventExtraOption.total}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="form-group">
    <label class="control-label" data-translate="royalhallsApp.contract.totalAmount">Total Amount </label> :
    {{vm.totalAmount | currency }}
</div>
<div class="form-group">
    <label class="control-label" data-translate="royalhallsApp.contract.openAmount">Open Amount</label> :
    {{vm.openAmount | currency }}
</div>
